<div class="container">
  <div class="quiz-title">
    <h1>Quiz about Protein</h1>
  </div>

  <div class="quiz-question">
    <h2 id="_question"></h2>
  </div>
  
  <div class="quiz-answers">
    <ul>
      <li class="quiz-answer" id="_ans1"></li>
      <li class="quiz-answer" id="_ans2"></li>
      <li class="quiz-answer" id="_ans3"></li>
    </ul>
  </div>

  <div class="quiz-button" id="answer">
    <button type="button" name="_answer_" value= 1 >１</button>
    <button type="button" name="_answer_" value= 2 >２</button>
    <button type="button" name="_answer_" value= 3 >３</button>
  </div>

  <div class="explanations">
    <p id="explain_1"></p>
    <p id="explain_2"></p>
    <p id="explain_3"></p>
  </div>
</div>
