<div class="container">
  <div class="quiz-title">
    <h1>Quiz for Protein</h1>
  </div>

  <div class="quiz-question">
    <h2 id="_question"></h2>
  </div>
  
  <div class="quiz-answers">
    <ul>
      <li class="quiz-answer" id="_ans1"></li>
      <li class="quiz-answer" id="_ans2"></li>
      <li class="quiz-answer" id="_ans3"></li>
    </ul>
  </div>

  <div class="quiz-button">
    <button type="button" id="_answer_1" onclick="Answer_Check(1)">１</button>
    <button type="button" id="_answer_2" onclick="Answer_Check(2)">２</button>
    <button type="button" id="_answer_3" onclick="Answer_Check(3)">３</button>
  </div>
</div>