.management-detail {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.detail {
  flex-basis: 200px;
  list-style: none;
  padding: 15px;
  margin: 15px;
  background: rgb(218, 240, 250);
  border-top: solid 8px rgb(143, 217, 241);
  border-radius: 5px;
  color: rgb(80, 78, 78);
}

.detail-name {
  border-bottom: solid 1px rgb(58, 70, 77);
  margin-bottom: 5px;
}

@media (max-width: 500px) {

  .detail {
    list-style: none;
    padding: 7px;
    margin: 7px;
    background: rgb(218, 240, 250);
    border-top: solid 8px rgb(143, 217, 241);
    border-radius: 5px;
    color: rgb(80, 78, 78);
    flex-basis: 160px;
    font-size: 2px;
  }

  .detail-name {
    font-size: 2px;
    border-bottom: solid 1px rgb(58, 70, 77);
    margin-bottom: 5px;
  }
}