.quiz-title {
margin-bottom: 15px;
padding-bottom: 1px;
/* border-bottom: 4px solid #000; */
}

.quiz-title h1 {
  font-size: 26px;
  text-align: center;
}

.quiz-question h2{
  font-size: 20px;
}

.quiz-answer {
  list-style: none;
}

.quiz-button button {
margin-left: 15px;
}

.explanations {
  margin: 20px 15px;
}

.explanations p {
font-size: 14px;
margin: 24px 10px;
}

@media (max-width: 500px) {
  .quiz-title {
    margin-bottom: 15px;
    }

    .quiz-title h1 {
      font-size: 18px;
      text-align: center;
    }
    
    .quiz-question h2{
      font-size: 14px;
    }
    
    .quiz-answer {
      list-style: none;
      font-size: 12px;
      margin-left: 80px;
    }

    .quiz-button {
      display: flex;
      justify-content: center;
      margin-left: 5px;
    }
    
    .quiz-button button {
    margin-right: 12px;
    font-size: 12px;
    }

    .explanations {
      margin: 12px 6px;
    }
    
    .explanations p {
    font-size: 9px;
    margin: 14px 6px;
    }
}