<div class="container">
  <div class="title">
    <h1>タンパク質で元気な体を手に入れよう</h1>
  </div>
    <% if user_signed_in? %>
    <div class="ingredient">
    <h2>今日の摂取量</h2>
    <div class="today-ingredient">
      <div class="ingredient-data">
        <%= "タンパク質：#{@protein.round(1)}/g 目標：60g/日" %>
      </div>
      <div class="ingredient-data">
        <%= "カロリー：#{@calorie.round(1)}/kcal" %>
      </div>
      <%= link_to("Add", new_management_path, {class: "btn btn--yellow btn--cubic"}) %>
    </div>
    </div>


  <div class="contents row">
    <%= render partial: 'posts/post', collection: @posts%>
  </div>
   <% end %>
</div>






<div class="question">
  <p> 脂質の多い食材は筋肉をつけるのに不向きである </p>
</div>